<h2 class="text-center">Finding Fresh Fruit With Technology</h1>

<div class="card">
  <h5 class="card-header">You're logged in!</h5>
  <div class="card-body">
  		<p>This is the authenticated view. A cookie name jwt must be present and decryptable by the server.</p>
  		<br>
		<input type="button" value="Logout" id="submitBtn" class="btn btn-primary" onclick="logout(); return false">
  </div>
</div>