<h2 class="text-center">Finding Fresh Fruit With Technology</h1>

<div class="card">
  <h5 class="card-header">You're logged in!</h5>
  <div class="card-body">
  		<p>This is the authenticated view. A cookie name jwt must be present and decryptable by the server.</p>
  		<h5><a href="changePassword">Change Password</a></h5>
  		<br>
		<input type="button" value="Logout" id="submitBtn" class="btn btn-primary" onclick="logout(); return false">
<br /> <br>
 <a href = "editMarketInfo"><button  class="btn btn-primary"> Edit Market </button></a>
  </div>
</div>
