<h2>Welcome to your Admin homepage </h2>
<h3><a href="/admin/manageMarkets"</a>Manage markets</h3>
<input type="button" value="Logout" id="submitBtn" class="btn btn-primary" onclick="logout('login'); return false">
