

  <h2 class="text-center">Apply For Market Account </h2>

<div class="card">
  <h5 class="card-header"> Apply for Market</h5>
  <div class="card-body">
     <form id="newMarket">
       <div id="form-group">
         <lable for="marketName"> Market Name </lable>
         <input class="form-control" type="text" id="marketName" name="marketName" placeholder="market name"/>
       </div> <br />
       <div id="form-group">  
         <lable for="password">Password </lable>
         <input class="form-control" type="password" id="password" name="password", placeholder = "password"/>
       </div> <br />
       <div id="form-group">
         <lable for="email"> Email </lable>
         <input class="form-control" type="email" id="email" name="email" placeholder="Email"/>
       </div> <br />
       <div id="form-group">
         <lable for="phone"> Phone Number </lable>
         <input class="form-control" type="text" id="phone" name="phone" placeholder="Phone Number"/>
       </div> <br />
       <div id="form-group">
         <lable for="contact"> Contact </lable>
         <input class="form-control" type="text" id="contact" name="contact" placeholder="Contact"/>
       </div> <br />
       <div id="form-group">
         <lable for="address"> Street Address </lable>
         <input class="form-control" type="text" id="address" name="address" placeholder="Street Address"/>
       </div> <br />
       <div id="form-group">
         <lable for="city"> City </lable>
         <input class="form-control" type="text" id="city" name="city" placeholder="City"/>
       </div> <br />
       <div id="form-group">
         <lable for="state"> State </lable>
         <input class="form-control" type="text" id="state" name="state" placeholder="State"/>
       </div> <br />
       <div id="form-group">
         <lable for="zip"> Zip </lable>
         <input class="form-control" type="text" id="zip" name="zip" placeholder="Zip"/>
       </div> <br />
       <input type="button" class="btn btn-info" id="submitBtn" value="Submit Application" onclick = "javascript:newMarket();"/>
    </form>
  </div>
 </div>
